<template name="Navigation">
    <div class="navbar-fixed">
        <nav class="nav-extended blue">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo hide-on-med-and-down">Ergonomische Dialoggestaltung</a>
            <ul class="right">
              <li class="nav-link"><a href="gestaltgesetze">Gestaltgesetze</a></li>
              <li class="nav-link"><a href="dialoggestaltungsrichtlinien">Dialoggestaltungsrichtlinien</a></li>
              <li class="nav-link">{{> loginButtons align="right"}}</li>
            </ul>
          </div>
        </nav>
    </div>
</template>
