<template name="HomeLayout">
    <div class="row column text-center">
        <h1>Ergonomische Dialoggestaltung</h1>
        <h2 class="subheader">Diese Webseite soll über die Gestaltgesetzte und die Dialoggestaltungsrichtlinien informieren. Beide Themen sind ein wichtiger Designbestandteil, insbesondere für Web Entwickler, die barrierefreie Angebote im Internet konzipieren.</h2>
        <h3 class="subheader">Zu beiden Bereichen werden auf den folgenden Seiten ein Überblick, detaillierte Erklärungen und Beispiele angeführt. Zustätzlich ist es möglich eigene Beispiele zu den Gestaltgesetzen und den Dialoggestaltungsrichtlinien einzufügen.</h3>
    </div>
    <div class="row column text-center">
        <div class="large stacked-for-medium button-group">
            <a role="button" class="button large" href="gestaltgesetze">Zu den Gestaltgesetzen</a>
            <a role="button" class="button large" href="dialoggestaltungsrichtlinien">Zu den Dialoggestaltungsrichtlinien</a>
        </div>
    </div>
</template>
