<template name="HomeLayout">
    <main>
        <div class="container">
            <div class="">
                <h1>Ergonomische Dialoggestaltung</h1>
                <p class="flow-text">Diese Webseite soll über die Gestaltgesetzte und die Dialoggestaltungsrichtlinien informieren. Beide Themen sind ein wichtiger Designbestandteil, insbesondere für Web Entwickler, die barrierefreie Angebote im Internet konzipieren.</p>
                <p class="flow-text">Zu beiden Bereichen werden auf den folgenden Seiten ein Überblick, detaillierte Erklärungen und Beispiele angeführt. Zustätzlich ist es möglich eigene Beispiele zu den Gestaltgesetzen und den Dialoggestaltungsrichtlinien einzufügen.</p>
            </div>
            <div class="">
                <div class="">
                    <a role="button" class="btn blue waves-effect waves-light btn-large" href="gestaltgesetze">Zu den Gestaltgesetzen</a>
                    <a role="button" class="btn blue waves-effect waves-light btn-large" href="dialoggestaltungsrichtlinien">Zu den Dialoggestaltungsrichtlinien</a>
                </div>
            </div>
        </div>
    </main>
</template>
